<div class="container text-center">
<form>
  <h2>Edit This Super</h2>
  <div class="form-group">
    <p>Name:</p>
    {{input class="text-center" value=model.name}}
  </div>
  <div class="form-group">
    <p>Hero, Anti-Hero, or Villain?</p>
  <!-- <select value={{model.category}}>
    {{#each categories as |type|}}
    <option value="{{type}}" selected={{ category type}}>{{type}}</option>
    {{/each}}
  </select> -->
    {{input class="text-center" value=model.category}}
  </div>

  <div class="form-group">
    <p>Secret Identity:</p>
    {{input class="text-center" value=model.secretIdentity}}
  </div>

  <div class="form-group">
    <p>Gender:</p>
    {{input class="text-center" value=model.gender}}
  </div>

  <div class="form-group">
    <p>Base of Operations:</p>
    {{input class="text-center" value=model.baseOfOperations}}
  </div>

  <div class="form-group">
    <p>Description:</p>
    {{textarea class="text-center" value=model.description rows="8"}}
  </div>

<button {{action "saveEdits"}} class="btn btn-success btn-lg">Save Changes</button>
</form>
</div>
