<div class="container text-center">
  {{#each error in validationErrors}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
  {{/each}}
<form>
  <h2>Add to the Codex</h2>

  <div class="form-group">
    {{input value=model.name class="text-center" placeholder="Name"}}
  </div>

  <div class="form-group">
    {{input value=model.category class="text-center" placeholder="Hero, Anti-Hero, or Villain?"}}
  </div>

  <div class="form-group">
    {{input value=model.secretIdentity class="text-center" placeholder="Secret Identity"}}
  </div>

  <div class="form-group">
    {{input value=model.gender class="text-center" placeholder="Gender"}}
  </div>

  <div class="form-group">
    {{input value=model.baseOfOperations class="text-center" placeholder="Base of Operations"}}
  </div>

  <div class="form-group">
    {{textarea value=model.description class="text-center" rows="10" placeholder="Description"}}
  </div>

  <button {{action "saveSuper"}} type="submit" class="btn btn-success btn-lg">Add Super</button>

  </form>

</div>
